.header-container{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100vw;
    margin:0;
    padding: 5vh 2vw;
    background: url('../assets/home-hero-bg.svg') no-repeat center;
    height: 116vh;
    background-size:cover;
}
.header-contents{

    width: 40%;
    height:50%;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.header{
    font-size: 6vh;
    font-weight: 600;
    width:25vw;
    color: beige;
    margin: 1vh 0vh 2vh 0vh;

}
.colored-h1{

    width:fit-content;
    background: linear-gradient(128deg, hsla(274, 59%, 66%, 1) 0%, hsla(1, 78%, 75%, 1) 100%);
    background: -moz-linear-gradient(128deg, hsla(274, 59%, 66%, 1) 0%, hsla(1, 78%, 75%, 1) 100%); 
    background: -webkit-linear-gradient(128deg, hsla(274, 59%, 66%, 1) 0%, hsla(1, 78%, 75%, 1) 100%);
    background-clip:text ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.contents{

    font-size: 18px;
    font-family: Proxima nova, sans-serif;
    color: rgb(243, 244, 245);
    width:37vw;
    line-height: 28px;
    text-align: justify;

}

.get-started-btn {
    width: 18vw;
    height: 8vh;
    margin-top: 2vh;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    font-weight: 600;
    color: #fff;
    border-radius: 4vh;
    border: .5vh solid rgb(243, 160, 8);
    transition: 0.5s;
    font-size: 2vh;
    padding: 1vh 1vh;
    background: transparent;
    transform-origin:5vh 2vh;
}

.header-image{
    margin: 0;
    width: 40vw;
    display: flex;
    align-items: center;
}
.header-image img{

    width: 40vw;
    margin: 0;
    margin-bottom: 8vh;

}


@media screen and (max-width: 1075px) {

    .header-container{
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        background-position:auto;
        background-repeat: repeat;
        background-size:auto;
        height: 90vh;
        padding-bottom: 10vh;
        
    }
    .header-contents{
        height:10vh;
        margin-top: 0vh;
        width: 90vw;
        
    }
    .header {
        font-size: 4vh;
        font-weight: 600;
        width: 73vw;
        color: beige;
        
    }
    .contents {
        font-size: 14px;
        font-family: Proxima nova, sans-serif;
        color: rgb(243, 244, 245);
        width: 80vw;
        line-height: 28px;
        text-align: justify;
    }
    .get-started-btn{

        width:40vw;
        font-size: 1.4vh;
        margin-top: 3vh;
        align-self: flex-start;
        margin-left: 5vw;
        margin-right: 60vw;
        margin-bottom: 0;
    }
    .header-image{
        width: auto;
        height:5vh;
        margin-top: 10vh;
    }
    .header-image img{

        width: 70vw;
        height: 30vh;

    }


}