.solved-container{

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10vh;
    align-items: center;
}
.solved-head{

    font-size: 5vh;
    margin-bottom: 3vh;
    text-align:center;
}
.solved-card-container{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    margin: 2vw 5vw; 
    padding: 1vw 5vw;  
}
.card{

    width:18vw;
    height:40vh;
    margin:2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 2vh;
    background: #f1e9fc;
    border-radius: 2vh;
    padding-left: 1vw;
}

.card h3{

    font-size: 3vh;
    font-weight: 600;
}
.card img{

    width:3vw;
    height: auto;
}


@media screen and (max-width: 1075px) {

    .solved-head{

        font-size:2.5vh ;

    }
    .card{
        width:80vw;
        height: 30vh;
        padding: 2vh;
    }
    .card img{

        width:10vw;
        height: auto;
    }
    .card h3{

        font-size: 2vh;
        font-weight: 600;
        
    }
 

}